// Hide "This site uses Just the Docs" footer
.site-footer {
  display: none !important;
}

// Narrower sidebar
.side-bar {
  width: 240px !important;
  min-width: 240px !important;
}

@media (min-width: 66.5rem) {
  .side-bar {
    width: 240px !important;
    min-width: 240px !important;
  }

  .main {
    margin-left: 240px !important;
  }
}
